* {
  margin: 0;
}
body {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}
.navbar{
    position: fixed;
}
.hire-me{
    background-color: blueviolet !important;
    border: none !important;
}
.hero{
    margin-top: 30px;
}
.name {
  color: blueviolet;
}
