* {
  margin: 0;
}
body {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
  font-family: "Roboto Serif", serif !important;
}
nav {
  position: sticky;
  top: 0;
}
.hire-me {
  background-color: blueviolet !important;
  border: none !important;
}
.hero {
  margin-top: 30px;
}
.name {
  color: blueviolet;
}
h1,
h3,
p {
  font-size: 17px;
  font-weight: 600;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
